POSTGRES_DB=identitycore
POSTGRES_USER=identitycore
POSTGRES_PASSWORD=replace-with-local-password
POSTGRES_PORT=5432

REDIS_PASSWORD=replace-with-local-password
REDIS_PORT=6379

MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025
